# .clangd

CompileFlags:
  Add:
      # Common flags for both platforms
    - -std=c++23
    - -xc++
    - -D__cplusplus=202302L

    # windows-specific
    # - --target=x86_64-pc-windows-msvc
    # - -fms-compatibility
    # - -fms-extensions
    # - -fdelayed-template-parsing

    # macos specific 
    - -D_LIBCPP_STD_VER=17   # Tell libc++ to use C++17
    # - -D_LIBCPP_STD_VER=23   # Tell libc++ to use C++17

    # ignore warnings
    - -Wno-macro-redefined
    - -Wno-declaration-after-statement
    - -Wno-newline-eof
    - -Wno-invalid_decl_spec_combination

    # custom defines    
    - -DFREELIST2_ALLOCATOR_IMPLEMENTATION
    - -DFREELIST_ALLOCATOR_IMPLEMENTATION
    - -DFREELIST_ALLOCATOR_UNIT_TESTS
    - -DHASHTABLE_IMPLEMENTATION
    - -DSTRING32_IMPLEMENTATION
    - -DSTACK_IMPLEMENTATION
    - -DQUEUE_IMPLEMENTATION
    - -DRBT_IMPLEMENTATION
    - -DPOOL_ALLOCATOR_IMPLEMENTATION
    - -DDARR_IMPLEMENTATION
    - -DAVL_IMPLEMENTATION
    - -DSTB_SPRINTF_IMPLEMENTATION
    - -DSTRING32_UNIT_TESTS
    - -DMUTABLE_STRINGS

    # SIMD-specific 
    # - -DHAS_AVX
    # - -DHAS_AVX2
    # - -DHAS_SSE2
    # - -DHAS_SSE3
    # - -DHAS_SSE4_1
    # - -DHAS_SSE4_2
    # - -mavx2
    # - -mavx
    # - -msse
    # - -msse2
    # - -msse3
    # - -msse4.1
    # - -msse4.2
        
    # Uncomment if you want more warnings:
    # - -Wall
    # - -Wextra
    # - -Wpedantic
    # - -Weverything
    # - -DFREELIST2_ALLOCATOR_UNIT_TESTS
    # - -DFREELIST_ALLOCATOR_UNIT_TESTS